Cython==3.0.11
click==8.1.7
jaconv==0.4.0
yt-dlp==2024.10.22
ffmpeg-python==0.2.0
tinydb==4.8.2
numpy==2.1.2
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
pillow==11.0.0
cv2-enumerate-cameras==1.1.16
